.App {
  text-align: center;
  position: relative;
  font-family: 'Sofia Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  h1 {
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: #4e6fec;
  }
}
